/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

body {
  font-family: 'Raleway', sans-serif;
 }

nav ul a,
nav .brand-logo {
  color: #ef5350;
}

nav .brand-logo {
  font-family: 'Neucha', cursive;
}

.nav-wrapper {
  padding: 0 50px;
}

p {
  line-height: 2rem;
}

.section img{
  max-width: 100%;
  height: auto;
}
.button-collapse {
  color: #ef5350;
}
.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.section-intro {
  height: 100%;
  width: 100%;
}

.header {
  margin-top: 5%;
  padding-top: 9%;
}

.header-subtitle{
  margin-top: 10%;
  font-size:2em;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  
  }
  .nav-wrapper {
    padding: 0 10px;
  }

}

.col {
  margin-top: 0px;
  padding-top: 5px;
}

.col-servizio {
  margin-top: 60px;
  margin-bottom: 100px;
}
.col-img {
  max-height: 120px;
  margin-bottom: 40px;
  margin-top: 0px;
}

.icon-block {
  margin-top: 0px;
  padding: 0px;
  height: 250px;
}
.icon-block .material-icons {
  font-size: inherit;
}

#servizio h5 {
  font-size: 1.3em;
  line-height: 1.6em;
}

.section-registrazione {
  height: 100%;
  width: 100%;
}

.header-registrazione {
  margin-top: 12%;
}

.registrazione-subtitle {
  margin-top: 3%;
}


.btn-registrazione {
  width: 100%;
}

.preventivo-subtitle {
  font-size: 1.3em;
  margin-top: 10px;
  line-height: 2em;
}
.col-preventivo {
  margin-top: 60px;
}

.btn-preventivo {
  width: 100%;
}

footer.page-footer {
  margin: 0px;
  background-color: #3d5467;
  height: 210px;
}

.social-icon {
  font-size: 1.5em;
  color: #fff;
  padding: 0 30px;
}

.social-icon:hover {
  color: #ef3550;
}

.container-footer {
  height: 60Px;
}

.footer-copyright {
  height: 30px;
}